@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LayoutUserPortal";

}

<div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
    <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
        <!-- Form -->
        <form class="js-validate" novalidate="novalidate" id="form" name="form" method="post">
            <div class="text-center mb-5">
                <h1 class="display-4">Forgot password?</h1>
                <p>Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
            </div>

            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="input-label" for="resetPasswordSrEmail" tabindex="0">Your email</label>

                <input asp-for="Input.Email" type="email" class="form-control form-control-lg" name="email" id="resetPasswordSrEmail" tabindex="1" placeholder="email@address.com" aria-label="email@address.com" required="" data-msg="Please enter a valid email address.">
            </div>
            <!-- End Form Group -->

            <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>

            <div class="text-center mt-2">
                <a class="btn btn-link" asp-page="./Login">
                    <i class="tio-chevron-left"></i> Back to Sign in
                </a>
            </div>
        </form>
        <!-- End Form -->
    </div>
</div>
<!--<div class="container">
    <div class="row no-gutters">
        <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">-->
            <!-- Form -->
            <!--<form id="form" name="form" method="post" data-parsley-validate="">-->
                <!-- Title -->
                <!--<div class="mb-7">
                    <h1 class="h3 text-primary font-weight-normal mb-0">Forgot your <span class="font-weight-semi-bold">password?</span></h1>
                    <p>Enter your email address below and we'll get you back on track.</p>
                </div>-->
                <!-- End Title -->
                <!-- Form Group -->
                <!--<div class="js-form-message form-group">
                    <label class="form-label" asp-for="Input.Email">Email address</label>
                    <input type="email" asp-for="Input.Email" class="form-control" name="email" id="signinSrEmail" placeholder="Email address" aria-label="Email address" data-parsley-type="email" data-parsley-required="true" data-parsley-required-message="The Email Address field is required" value="shaneilr@tritonexpress.co.za">
                </div>-->
                <!-- End Form Group -->
                <!-- Button -->
                <!--<div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-6">
                        <a class="small link-muted" asp-page="./Login">Back to sign in</a>
                    </div>

                    <div class="col-8 col-sm-6 text-right">
                        <button type="submit" class="btn btn-primary transition-3d-hover">Request Reset Link</button>
                    </div>
                </div>-->
                <!-- End Button -->
            <!--</form>-->
            <!-- End Form -->
        <!--</div>
    </div>
</div>-->
@*<h1>@ViewData["Title"]</h1>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>*@
